<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.7/underscore-umd-min.js "></script>

    <script
    src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
    crossorigin="anonymous"></script>

    <script src=" https://cdn.jsdelivr.net/npm/backbone@1.6.0/backbone-min.min.js "></script>




    <%= javascript_importmap_tags %>


  </head>

  <body>
    <main class="container mx-auto mt-28">
      <%= yield %>

    <script>
      var note = Backbone.Model.extend({

        initialize: function()
        {
          console.log("initialized");
        }

      });


    </script>

    </main>
  </body>
</html>
